.nested-fields
  .field
    = f.label :role_id
    = f.select :role_id, select_role, {} ,{ class: 'form-group', multiple: true}#, 'data-selected-text-format'="static"}
  = link_to_remove_association "remove person_role", f